@import "../../../variables.scss";
.card-container {
  margin-bottom: 118px;
  height: 400px;
  form {
    width: 362px;
    margin: 0 auto;
  }
  &.s-container {
    height: 312px;
    .agt-btn {
      margin-top: 40px;
    }
    .forgot-password {
      padding-top: 57px;
    }
  }
  &.m-container {
    height: 354px;
  }
}

.control-label {
  border: 0px;
}
.input-error {
  border-color: $errormsg;
}
.forgot-password {
  padding-top: 56px;
  // margin: 0 auto 41px;
  margin: 0 auto 24px;
  text-align: center;
  .page-title {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }
}
.mb-4 {
  margin-bottom: 32px !important;
}
.success-page {
  text-align: center;
  .page-title {
    margin-bottom: 24px;
  }
  p {
    margin-bottom: 24px;
  }
  .agt-btn {
    width: 362px;
    margin: 0 auto;
    display: block;
    border: 1px solid #e1e3e5;
    border-radius: 1px;
    color: #384350;
    background: #fafafa;
    margin-top: 37px;
    line-height: 38px;
    font-size: 14px;
    text-align: center;
    &:hover {
      text-decoration: none;
    }
  }
  .text-center-css {
    margin-left: 5px;
  }
}

.error-style {
  display: block;
  position: relative;
  top: -8px;
  padding: 0;
}
@media screen and (max-width: 450px) {
  .card-container form {
    width: 90%;
  }
  .success-page {
    width: 100%;
    .agt-btn {
      width: 90%;
    }
  }
}
//RWD design
@media screen and (max-width: 767px) {
  .agt-btn {
    width: 100%;
  }
}
@media only screen and (device-width: 375px) and (device-height: 812px) {
  .agt-btn {
    width: 100%;
  }
  .card-container.s-container .agt-btn {
    margin-top: 20px;
  }
  .resend-button-area.agt-btn {
    width: 95.5%;
  }
}
.showLink {
  // height: 80px;
  // padding: 10px 29px;
  color: #057fc8;
  text-decoration: underline;
  margin-left: 33%;
}
.resend-msg-success {
  color: $successTextColor !important;
  font-size: 14px !important;
  margin-top: 0px !important;
  margin-left: 28% !important;
}
.german-resendmsg-css {
  margin-left: 15% !important;
}
.italy-resendmsg-css {
  margin-left: 19% !important;
}
.franch-resendmsg-css {
  margin-left: 20% !important;
}
.spain-resendmsg-css {
  margin-left: 14% !important;
}
.portugal-resendmsg-css {
  margin-left: 24% !important;
}
.korea-resendmsg-css {
  margin-left: 26% !important;
}
.japan-resendmsg-css {
  margin-left: 36% !important;
}
.italy-showlink-css {
  margin-left: 20%;
}
.spain-showlink-css {
  margin-left: 22%;
}
.china-showlink-css {
  margin-left: 40%;
}
.japan-showlink-css {
  margin-left: 38%;
}
.korea-showlink-css {
  margin-left: 30%;
}
.card-container-email-verification {
  padding-top: 56px;
  margin-bottom: 57px;
  min-height: 400px;
  height: auto;
}
.text-center-firstline {
  position: relative;
  top: 58px;
}
.text-center-thirdline {
  position: relative;
  bottom: -70px;
}
.spain-heading {
  line-height: 49px;
}
.german-text {
  padding-left: 4px !important;
}
.france-text {
  margin-top: 16px !important;
}
html,
body {
  background-color: #e5e5e5 !important;
}
.agt-footer-container {
  background-color: #e5e5e5 !important;
}
.input-control {
  border: 2px solid $inputBorderColor !important;
}
