@import "../../../variables.scss";
.card-container {
  margin: 99px auto 163px;
  height: 354px;
  form {
    width: 312px;
    margin: 0 auto;
  }
}
.control-label {
  border: 0px;
}
.agt-noaccess-info {
  margin: 13px 0 29px;
  text-align: center;
  p{
    margin-bottom: 4px;
  }
}
.mb-4{
  margin-bottom: 28px !important;
}
