@import '../../../variables.scss';
.card-container {
  padding-top: 56px;
  margin-bottom: 171px;
  height: auto;
  min-height: 349px;
  form {
    width: 362px;
    margin: 0 auto;
    .resend-button-area {
      width: 362px;
      margin: auto;
      display: block;
      border: 1px solid #e1e3e5;
      color: #384350;
      background: #fafafa;
      line-height: 38px;
      font-size: 14px;
      text-align: center;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &.notverified-container {
    height: 365px;
    padding-top: 86px;
    .agt-notverified-info {
      p:first-of-type {
        margin-bottom: 15px;
      }
    }
  }
}
.control-label {
  border: 0px;
}

.mb-4 {
  margin-bottom: 28px !important;
}
.agt-email {
  font-family: 'Noto Sans';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 25px 0px 32px;
  // margin-bottom: 30px;
  color: $text-clr-blck;
  text-decoration: none;
}
.agt-notverified-info {
  p {
    margin: 16px 29px;
    color: $errormsg;
  }
}
.warning-box {
  position: relative;
  //min-height: 48px;
  margin: 0 auto;
  margin-top: 14px;
  width: 362px;
  min-height: 40px;
  padding: 0px 0px 0px;
  border: 2px solid $warningBorderColor;
  background: $warnig-bg-clr;
  //border-radius: px;
  font-style: normal;
  font-weight: normal;
  font-family: 'Noto Sans';
  font-size: 14px;
  color: $warningBorderColor;
  filter: none !important;
  -webkit-appearance: none;
}
.text-center {
  font-size: 14px !important;
}
input:disabled {
  background-color: #f7f7f7;
  -webkit-text-fill-color: #343740;
  -webkit-opacity: 1;
  opacity: 1;
  color: #343740;
}

.control-label {
  background-color: #ffffff;
  -webkit-text-fill-color: #343740;
  opacity: 1;
  -webkit-opacity: 1;
  color: #343740;
}
@media screen and (max-width: 450px) {
  .card-container {
    height: 390px;
  }
  .card-container form {
    width: 90%;
    .resend-button-area {
      width: 90%;
    }
  }
  .warning-box {
    width: 90%;
    height: 118px;
  }
}
// RWD design
@media only screen and (device-width : 375px) and (device-height : 812px) {
  .agt-btn {
    width: 100%;
  }
  .warning-box {
    height: auto;
  }
  .msg-success {
    font-size: 15px;
  }
}