@import "../../../variables.scss";

/*************************DEFAULT PAGE COMMON STYLES STARTS HERE*************************************/
.wrapper-container {
  padding: 7px 15px;
  // max-width: 375px;
  width: 100%;

  .profile {
    font-size: 36px;
    line-height: 42px;
    margin: 5px 20px 40px 0;
    color: $black-color;
    font-family: $roboto-light;
    float: left;
  }
  .successMessage {
    margin-top: 114px;
    margin-bottom: 30px;
  }
  .profile-width {
    width: 100%;
    margin-bottom: 40px !important ;
  }
  .horizontal-line {
    border: 1px solid $border-color;
    opacity: 1;
    height: 0px;
    float: left;
    background: $light-grey;
    margin-bottom: 29px;
  }
  .profile-label {
    color: $profile-label-grey;
    font-family: $roboto-medium;
    font-size: 13px;
    margin-bottom: 10px;
    clear: both;
    line-height: initial;
    letter-spacing: 0;
  }
  .profile-label-value {
    color: $black-color;
    font-family: $roboto-regular;
    font-size: 15px;
    margin-bottom: 20px;
    line-height: initial;
    letter-spacing: 0;
  }
  .vertical-line-edit {
    height: 30px;
    border-right: 1px solid #d5d8db;
    opacity: 1;
    margin: 10px auto 20px auto;
    float: left;
  }
  .profile-edit-icon {
    margin: 17px 0px 20px 20px;
    float: left;
  }
  .profile-edit-icon {
    color: $blue-color;
    font-family: $roboto-regular;
    font-size: 18px;
    line-height: initial;
    letter-spacing: 0;
    cursor: pointer;
    &:hover {
      color: $dark-blue;
    }
  }
  .profile-edit-icon .fa-pen {
    margin-right: 10px;
    font-size: 16px;
  }
  .profile-title-section span:active,
  .profile-title-section span:focus,
  .profile-title-section span:visited {
    outline: 0;
    border: none;
  }
}
/*************************DEFAULT PAGE COMMON STYLES ENDS HERE*************************************/

/*************************EDIT PAGE COMMON STYLES STARTS HERE*************************************/
.dashboard-product-orders,
.dashboard-quotes,
.dashboard-contracts {
  width: 100%;
  height: 100%;
}
// .wrapper-width {
//   max-width: 375px;
// }
.button-wrap {
  float: right;
  font-size: 15px;
  font-family: $roboto-medium;
  margin-bottom: 20px;
  .save-changes {
    min-width: 154px;
    width: fit-content;
    height: 50px;
    background-color: $blue-color;
    color: $white-color;
    border-radius: 4px;
    border: none;
    padding: 16px 29px;
  }
  :hover {
    background-color: $dark-blue;
  }
  :active {
    background-color: $darker-blue;
  }
  :disabled {
    background-color: $light-grey-color;
    color: $grey;
  }
  .cancel {
    width: 66px;
    height: 40px;
    //background-color: $lighter-blue;
    color: $blue-color;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    vertical-align: middle;
    padding: 11px 10px;
  }
}
.back {
  font-size: 18px;
  font-family: $roboto-regular;
  color: $blue-color;
  cursor: pointer;
  line-height: 21px;
  margin-bottom: 24px;
  width: fit-content;
  clear: both;
  &:hover {
    color: $dark-blue;
  }
  .left-arrow {
    font-size: 16px;
    margin-right: 10px;
  }
}
.example-button-row {
  text-align: right;
  width: 600px;
}
.save-changes {
  min-width: 160px;
  height: 50px;
  background-color: $blue-color;
  color: $white-color;
  border-radius: 4px;
  border: none !important;
  font-family: $roboto-medium;
  font-size: 15px;
  padding: 16px 30px;
  letter-spacing: 0px;
  width: fit-content;
}
.save-btn-api,
.save-btn-api:hover,
.save-btn-api:active {
  min-width: 197px;
  background-color: $light-grey-color !important;
  color: $grey !important;
  width: fit-content;
}
.cancel {
  min-width: 66px;
  width: fit-content;
  height: 50px;
  background-color: $white-color;
  color: $blue-color;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  vertical-align: middle;
  padding: 11px 10px;
  font-family: $roboto-medium;
  font-size: 15px;
}
.cancel:hover {
  background: $ice-blue !important;
}
.save-changes:hover {
  background: $dark-blue;
}
.cancel:active {
  background-color: $lighter-blue !important;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
}
.save-changes:active {
  background-color: $darker-blue;
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 4px;
}
.save-changes:disabled {
  background-color: $light-grey-color;
  color: $grey;
}

.profile-fields {
  margin-bottom: 0;
}
.profile-fields
  :host
  ::ng-deep
  .mat-form-field-appearance-outline
  .mat-form-field-wrapper {
  margin: 0.23.5em 0 !important;
}
.profile-fields.hint-field {
  margin-bottom: 24px;
}

.disabled-field input.mat-input-element {
  color: $dark-grey;
  -webkit-text-fill-color: $dark-grey;
  opacity: 1;
}

.error-info {
  position: relative;
  bottom: 24px;
  margin-top: 4px;
  left: 20px;
  font-size: 11px;
  font-family: $roboto-medium;
  color: $error-red-color;
  line-height: 13px;
  letter-spacing: 0;
}
.form-fields-restrict {
  pointer-events: none !important;
}

.common-input {
  margin-bottom: 30px;
  border-radius: 5px;
  width: 597px;
}
.common-input-optional {
  margin-bottom: 40px;
  width: 598px;
}
.common-input-optional-before-btn {
  margin-bottom: 30px;
}
/*************************EDIT PAGE COMMON STYLES ENDS HERE*************************************/

/*****************FOR MOBILE STYLES STARTS HERE*******************/
@media (max-width: 719px) {
  .horizontal-line {
    width: 345px;
  }
  .profile {
    font-size: 28px !important;
    line-height: 33px !important;
    margin: 42px 15px 20px 0px !important;
  }
  .vertical-line-edit {
    margin: 42px auto 20px auto !important;
  }
  .profile-edit-icon {
    margin-left: 15px !important;
    margin-top: 50px !important;
  }
  .last-h-line {
    margin-bottom: 100px !important;
  }
  /**Edit page View Starts**/

  .mat-button-base {
    border: 1px solid $black-color;
    margin-bottom: 20px;
    right: 1.2em;
  }
  .example-button-row {
    text-align: right;
    width: 100% !important;
    // margin-bottom: 70px !important;
    margin-top: 45px !important;
  }
  :host ::ng-deep.mat-form-field {
    width: 100% !important;
  }
  .back {
    margin-bottom: 24px !important;
  }
  .dashbord-container-mobile {
    padding-top: 7px;
  }
  /**Edit page view Ends**/
}
/*****************FOR MOBILE STYLES ENDS HERE*******************/

/*****************FOR TABLET STYLES STARTS HERE*******************/
@media (min-width: 719px) and (max-width: 1279px) {
  .profile-title-section {
    margin-top: -13px;
  }
  .horizontal-line {
    width: 536px;
  }
  .wrapper-container {
    padding: 8px 0;
    .successMessage {
      margin-top: 87px;
    }
    .profile {
      margin: 5px 20px 40px 0;
    }
    .vertical-line-edit {
      margin: 10px auto 20px auto;
    }
    .profile-edit-icon {
      margin: 17px 0px 20px 20px;
    }
  }
  /** EDIT PAGE STARTS**/
  :host ::ng-deep.mat-form-field {
    width: 535px !important;
  }
  .mat-button-base {
    border: 1px solid $black-color;
    margin-bottom: 20px;
  }
  .example-button-row {
    text-align: right;
    width: 535px;
    margin-bottom: 60px;
  }
  .back {
    margin-bottom: 20px;
  }
  /** EDIT PAGE ENDS**/
}
/*****************FOR TABLET STYLES ENDS HERE*******************/

/*****************FOR DESKTOP STYLES STARTS HERE*******************/
@media (min-width: 1279px) {
  .profile-title-section {
    margin-top: -13px;
  }
  .horizontal-line {
    width: 600px;
  }
  .wrapper-container {
    padding: 8px 0;
    .successMessage {
      margin-top: 87px;
    }
  }
  /** EDIT PAGE STARTS**/
  :host ::ng-deep.mat-form-field {
    width: 600px !important;
  }
  .mat-button-base {
    border: 1px solid $black-color;
    margin-bottom: 20px;
  }
  .example-button-row {
    margin-bottom: 100px;
    margin-top: 45px;
  }
  /** EDIT PAGE ENDS**/
}
/*****************FOR DESKTOP STYLES ENDS HERE*******************/

/*****************FOR SPINNER ICON STYLES STARTS HERE*******************/
.loader {
  border: 4px solid #d7dadc;
  border-radius: 50%;
  border-top: 4px solid $grey;
  width: 24px;
  height: 24px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  top: 13px;
  bottom: 13px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.save-btn-api-text {
  position: relative;
  bottom: 23px;
  left: 15px;
  padding-left: 7px;
}
:host
  ::ng-deep
  .disabledTextbox
  .mat-form-field-appearance-outline
  .mat-form-field-flex {
  padding: 4px 20px 0px 20px;
}

:host
  ::ng-deep
  .disabledTextbox
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label {
  margin-top: 12px !important;
}
.nav-bar {
  float: left;
  width: 30%;
  position: fixed;
  margin-top: 130px;
}
.profile-container {
  width: 30%;
  float: left;
  height: 830px;
  margin-left: 279px;
  margin-top: 130px;
}
.main-container {
  background-color: white;
  position: relative;
  top: 8px;
  margin-top: 20px;
}
html,
body {
  background-color: white;
}
.agt-footer-container {
  background-color: white !important;
}
// .common-input .select-label {
//   background: #fff;
//   font-size: 11px;
//   padding: 0 0.25rem;
//   top: -0.6rem;
//   z-index: 3;
// }
// .common-input .select-label {
//   font-size: 12px;
//   cursor: text;
//   left: 16px;
//   position: relative;
//   top: 4px;
//   transition: top 0.2s linear;
//   -webkit-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
//   color: black;
// }
.input-control {
  border-radius: 2px;
  border: 1px solid #c1c6c8 !important;
  .hover {
    border: 3px solid #c1c6c8 !important;
  }
}
.test-messgae {
  font-size: 12px;
  color: #87898c;
  cursor: text;
  left: 16px;
  position: relative;
}
/*****************FOR SPINNER ICON STYLES ENDS HERE*******************/
