@import '../../../variables.scss';
.card-container {
  margin-bottom: 118px;
  height: 389px;
  padding-top: 56px;
  .page-title {
    line-height: 34px;
  }
  form {
    width: 362px;
    margin: 0 auto;
    .pass-mar-bottom {
      height: 57px;
      margin-bottom: 25px !important;
    }
    .repass-mar-bottom {
      height: 57px;
      margin-bottom: 41px !important;
    }
  }
  &.expire-container {
    padding-top: 56px;
    height: 354px;
    .btn-container {
      margin: 61px auto auto auto;
    }
    .agt-btn:hover {
      color: $white;
      background-color: $btnhover;
    }
    .page-title {
      margin-bottom: 0;
    }
    &.sucess-container {
      height: 399px;
      .btn-container {
        margin: 24px auto auto auto;
        .msg-success {
          line-height: 21px;
        }
      }
      .resend-button-area.agt-btn {
        background: $resend-btn-bg-clr;
        color: $resend-txt-clr;
        border: 1px solid $reset-brdr-clr;
        border-radius: 1px;
      }
    }
  }

  // .reset-password {
  //   padding-top: 56px;
  // }
}
.page-title {
  margin-bottom: 25px;
}
.btn-create-acc {
  border: 0;
  color: $twoBlue;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 21px;
  &:active {
    box-shadow: none;
  }
}
.agt-login-info {
  margin: 20px 0 35px;
  text-align: center;
  p {
    margin-bottom: 0px;
    color: #000000;
  }
}
.login-error-info {
  margin: 8px 0 37px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: $errormsg;
  p {
    margin-bottom: 0;
  }
}
.expired-info {
  margin: 13px 0 40px;
}
.agt-btn:disabled {
  background-color: $btnLocked;
  &:active {
    box-shadow: none;
  }
}
.expiredInfo {
  margin: 24px 0 24px;
  text-align: center;
  p {
    margin-bottom: 0;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
  }
  .expired-in {
    margin-top: 24px;
  }
}
.match-error {
  border-color: $errormsg;
}
.btn-container {
  width: 362px;
  margin: 0 auto;
  .msg-success {
    display: block;
  }
}
.loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  margin-top: -24px;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 1000;
}
.resend-button-area.agt-btn {
  width: 362px;
  display: block;
  color: $white;
  background: $btn;
  margin-top: 40px;
  line-height: 38px;
  font-size: 14px;
  text-align: center;
  border-radius: 1px;
  &:hover {
    text-decoration: none;
  }
}
.error-style {
  display: block;
  position: relative;
  top: -8px;
  padding: 0;
}
.passwordShow {
  display: none;
}

@media screen and (max-width: 580px) {
  .login-error-info,
  .agt-login-info {
    p {
      font-size: 11px;
    }
  }
}
// RWD design
@media only screen and (device-width : 375px) and (device-height : 812px) {
  .pass-mar-bottom .input-control{
    width: 90%;
  }
  .repass-mar-bottom .input-control {
    width: 90%;
  }
  .eye-slash {
    right: 45px;
}
.btn-container {
  width: 100%;
}
.resend-button-area.agt-btn {
  width: 100%;
}
.agt-btn {
  width: 90%;
}
.card-container form{
  margin-left: 10px;
}
}