<div class="card-container" *ngIf="!tokenExpired">
  <div class="loading-spinner" [hidden]="showLoader">
    <img src="assets/images/spinner_med_48x48.gif" />
  </div>
  <div class="reset-password" *ngIf="!showForm">
    <h3 class="page-title">{{ 'RESET_PASSWORD.RESET_PAS' | translate }}</h3>
    <form [formGroup]="formModel" autocomplete="off">
      <div class="mb-4 pass-mar-bottom">
        <label class="control-label" for="password">{{
          'RESET_PASSWORD.PASSWORD' | translate
        }}</label>
        <input
          class="input-control"
          type="password"
          formControlName="password"
          id="password"
          required
          autocomplete="new-password"
        />
        <span (click)="showPassword('password')">
          <fa-icon icon="eye-slash" class="pwd-hide eye-slash" [ngClass]="{ passwordShow: password }"></fa-icon>
          <fa-icon icon="eye" class="pwd-hide" [ngClass]="{ passwordShow: !password }"></fa-icon>
        </span>
        <div
          *ngIf="
            fieldData('password').invalid &&
            (fieldData('password').dirty || fieldData('password').touched)
          "
        >
          <p
            class="form-error-msg error-style"
            *ngIf="
              fieldData('password').errors?.minlength ||
              fieldData('password').errors?.required
            "
          >
            {{ 'RESET_PASSWORD.PASSWORD_SHORT' | translate }}
          </p>
          <p
            class="form-error-msg error-style"
            *ngIf="fieldData('password').errors?.maxlength"
          >
            {{ 'RESET_PASSWORD.PASSWORD_LONG' | translate }}
          </p>
        </div>
      </div>
      <div class="mb-4 repass-mar-bottom">
        <label class="control-label" for="confirmPassword">{{
          'RESET_PASSWORD.C_PASSWORD' | translate
        }}</label>
        <input
          id="confirmPassword"
          class="input-control password"
          type="password"
          formControlName="confirmPassword"
          required
          [ngClass]="{
            'match-error':
              formModel.errors?.different && fieldData('confirmPassword').valid
          }"
          autocomplete="new-password"
        /><span (click)="showPassword('confirmPassword')">
          <fa-icon icon="eye-slash" class="pwd-hide eye-slash" [ngClass]="{ passwordShow: confirmPassword }"></fa-icon>
          <fa-icon icon="eye" class="pwd-hide" [ngClass]="{ passwordShow: !confirmPassword }"></fa-icon>
        </span>
        <div
          *ngIf="
            fieldData('confirmPassword').dirty ||
            fieldData('confirmPassword').touched
          "
        >
          <p
            class="form-error-msg error-style"
            *ngIf="
              fieldData('confirmPassword').errors?.minlength ||
              fieldData('confirmPassword').errors?.required
            "
          >
            {{ 'RESET_PASSWORD.PASSWORD_SHORT' | translate }}
          </p>
          <p
            class="form-error-msg error-style"
            *ngIf="fieldData('confirmPassword').errors?.maxlength"
          >
            {{ 'RESET_PASSWORD.PASSWORD_LONG' | translate }}
          </p>
          <p
            class="form-error-msg error-style"
            *ngIf="
              formModel.errors?.different && fieldData('confirmPassword').valid
            "
            [translate]="'RESET_PASSWORD.PASSWORD_MATCH'"
          ></p>
        </div>
      </div>
      <div>
        <button class="btn agt-btn" type="submit" (click)="onSubmit()">
          {{ 'RESET_PASSWORD.RESET_PAS' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<div
  class="card-container"
  *ngIf="tokenExpired"
  [ngClass]="{
    'expire-container': tokenExpired,
    'sucess-container': sentSuccessfully
  }"
>
  <h3 class="page-title">{{ 'RESET_PASSWORD.EMAIL_EXPIRED' | translate }}</h3>
  <div class="expiredInfo">
    <p *ngIf="sentSuccessfully">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_1' | translate }}
    </p>
    <p *ngIf="!sentSuccessfully">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_2' | translate }}
    </p>
    <p *ngIf="!sentSuccessfully">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_3' | translate }}
    </p>
    <p *ngIf="sentSuccessfully">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_5' | translate }}
    </p>
    <p *ngIf="sentSuccessfully">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_6' | translate }}
    </p>
    <p class="expired-in">
      {{ 'RESET_PASSWORD.EXPIRED_INFO_4' | translate }}
    </p>
  </div>
  <div class="btn-container">
    <p class="msg-success" *ngIf="sentSuccessfully">
      {{ 'RESET_PASSWORD.SUCCESS_MESSAGE' | translate }}
    </p>
    <button
      class="resend-button-area agt-btn"
      type="submit"
      (click)="resendEmail()"
    >
      {{ 'RESET_PASSWORD.RESEND_EMAIL' | translate }}
    </button>
  </div>
</div>
